.dropshadow-general {
    -fx-effect: dropshadow(gaussian, rgb(0, 0, 0, 0.2), 20, 0.3, 1, 1);
}

.herostats > .cell {
    /* 1 pixel border around the left and bottom of each cell: */
    -fx-background-color: white, white ;
    -fx-background-insets: 0, 0 0 1 1 ;
}

.herostats {
    -fx-border-width: 0.2;
    -fx-border-color: white;
    -fx-background-color: #222222;
    -fx-stroke: red;
}

.exit-button {
    -fx-background-color:
        #000000,
        linear-gradient(#222222, #2f2f2f),
        linear-gradient(#ff3838, #ff3838),
        linear-gradient(#ff3838, #d12e2e);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 5 10 5 10;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

 /*Edit The control itself*/
.combo-box {
    -fx-background-color: #222222;
    -fx-border-width: 0.2;
    -fx-border-color: white;
}

/*Edit Normal Cell color */
.combo-box .list-cell {
    -fx-background-color: #222222;
    -fx-text-fill: white;
}

/*Edit Cell Color Only when cursor hover cell */
.combo-box .list-cell:hover {
    -fx-background-color: black;
}

/* Text Field StyleSheet */
.text-field {
    -fx-border-width: 0.2;
    -fx-background-color: #222222;
    -fx-border-color: white;
    -fx-text-fill: white;
}

.text-area{
    -fx-background-color: #222222, #222222;
    -fx-text-fill: white;
    -fx-border-width: 0.2;
    -fx-border-color: white;
}

.text-area .content {
    -fx-background-color: #222222;
}

.text-area:focused .content {
    -fx-background-color: #222222;
}

.inner-pane {
    -fx-background-color: #dddddd;
    -fx-effect: innershadow( gaussian, rgba(0, 0, 0, 0.3), 10, 0.3, 1, 1);
}

/* Tab Pane Styling */
.tab-header-background {
    -fx-background-color:  #0a0a0a;
}

.tab-pane {
    -fx-background-color: #2f2f2f;
}

.tab {
    -fx-pref-width: 150;
    -fx-pref-height: 30;
    -fx-background-color: #2f2f2f;
    -fx-background-insets: 0.0;
}

.tab-label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 12;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: black;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}
