.split-pane:horizontal > .split-pane-divider {
   -fx-background-color: transparent;
   -fx-cursor: default;
}


.dropshadow-general {
    -fx-effect: dropshadow(gaussian, rgb(0, 0, 0, 0.2), 20, 0.3, 1, 1);
}

.herostats > .cell {
    /* 1 pixel border around the left and bottom of each cell: */
    -fx-background-color: white, white ;
    -fx-background-insets: 0, 0 0 1 1 ;
}

.herostats {
    -fx-border-width: 0.2;
    -fx-border-color: white;
    -fx-background-color: #222222;
    -fx-stroke: red;
}

.create-button {
    -fx-cursor: pointer;
    -fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: black;
}

.create-button:hover {
    -fx-cursor: pointer;
    -fx-background-color:
      transparent,
      transparent,
      linear-gradient(#558204, #558204),
      linear-gradient(#558204, #72992b);
}

.edit-button {
    -fx-cursor: pointer;
    -fx-background-color:
        linear-gradient(#f08f3a, #f0ad3a),
        radial-gradient(center 50% -40%, radius 200%, #f0ad3a 45%, #f08f3a 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: black;
}

.edit-button:hover  {
    -fx-cursor: pointer;
    -fx-background-color:
      transparent,
      transparent,
      linear-gradient(#e09e2b, #e09e2b),
      linear-gradient(#e09e2b, #db9214);
}

.exit-button {
    -fx-cursor: pointer;
    -fx-background-color:
        linear-gradient(#ff1717, #a12020),
        radial-gradient(center 50% -40%, radius 200%, #ff1717 45%, #f21f1f 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: white;
}

.exit-button:hover {
    -fx-cursor: pointer;
    -fx-background-color:
      transparent,
      transparent,
      linear-gradient(#ff3838, #ff3838),
      linear-gradient(#ff1717, #a12020);
}

 /*Edit The control itself*/
.combo-box {
    -fx-background-color: #222222;
    -fx-border-width: 0.2;
    -fx-border-color: white;
}

/*Edit Normal Cell color */
.combo-box .list-cell {
    -fx-background-color: #222222;
    -fx-text-fill: white;
}

/*Edit Cell Color Only when cursor hover cell */
.combo-box .list-cell:hover {
    -fx-background-color: black;
}

/* Text Field StyleSheet */
.text-field {
    -fx-border-width: 0.2;
    -fx-background-color: #222222;
    -fx-border-color: white;
    -fx-text-fill: white;
}

.text-field:readonly {
    -fx-opacity: 0.1;
}

.text-area{
    -fx-background-color: #222222, #222222;
    -fx-text-fill: white;
    -fx-border-width: 0.2;
    -fx-border-color: white;
}

.text-area .content {
    -fx-background-color: #222222;
}

.text-area:focused .content {
    -fx-background-color: #222222;
}

.inner-pane {
    -fx-background-color: #363636;
    -fx-effect: innershadow( gaussian, rgba(0, 0, 0, 0.3), 10, 0.3, 1, 1);
}

.character-pane {
    -fx-background-image: url("../../../../images/background.jpg");
    -fx-effect: innershadow( gaussian, rgba(0, 0, 0, 0.3), 10, 0.3, 1, 1);
}

/* Tab Pane Styling */
.tab-header-background {
    -fx-background-color:  #0a0a0a;
}

.tab-pane {
    -fx-background-color: #2f2f2f;
}

.tab {
    -fx-pref-width: 150;
    -fx-pref-height: 30;
    -fx-background-color: #2f2f2f;
    -fx-background-insets: 0.0;
}

.tab-label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 12;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.table-view{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: #2f2f2f;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-cursor: pointer;
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: #1c1c1c;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: #212121;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #007bc2;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}
