 /*Edit The control itself*/
.combo-box {
    -fx-background-color: #222222;
    -fx-border-width: 0.2;
    -fx-border-color: white;
}

/*Edit Normal Cell color */
.combo-box .list-cell {
    -fx-background-color: #222222;
    -fx-text-fill: white;
}

/*Edit Cell Color Only when cursor hover cell */
.combo-box .list-cell:hover {
    -fx-background-color: black;
}

/* Text Field StyleSheet */
.text-field {
    -fx-border-width: 0.2;
    -fx-background-color: #222222;
    -fx-border-color: white;
    -fx-text-fill: white;
}

.text-area{
    -fx-background-color: #222222, #222222;
    -fx-text-fill: white;
    -fx-border-width: 0.2;
    -fx-border-color: white;
}

.text-area .content {
    -fx-background-color: #222222;
}

.text-area:focused .content {
    -fx-background-color: #222222;
}


/* Tab Pane Styling */
.tab-header-background {
    -fx-background-color: black;
}

.tab-pane {
    -fx-background-color: #2f2f2f;
}

.tab {
    -fx-pref-width: 150;
    -fx-pref-height: 30;
    -fx-background-color: #2f2f2f;
    -fx-background-insets: 0.0;
}

.tab-label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 12;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: black;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}
